<div class="grid grid-cols-3 gap-8">
    <app-product [title]="'product 1'" [price]="10" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 2'" [price]="11" img="https://picsum.photos/640/640?r=25" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 3'" [price]="12" img="https://picsum.photos/640/640?r=26" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 4'" [price]="13" img="https://picsum.photos/640/640?r=27" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 5'" [price]="14" img="https://picsum.photos/640/640?r=28" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 6'" [price]="15" img="https://picsum.photos/640/640?r=29" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 7'" [price]="16" img="https://picsum.photos/640/640?r=30" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 8'" [price]="17" img="https://picsum.photos/640/640?r=31" (addToCart)="fromChild($event)" />
    <app-product [title]="'product 9'" [price]="18" img="https://picsum.photos/640/640?r=32" (addToCart)="fromChild($event)" />
</div>